body {
    font-family: "Nunito";
}
footer {
    background: #eeeeee;
    padding: 20px;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 40px;
        text-transform: capitalize;
        border-bottom: 2px solid;
        padding: 12px 0;
        color: #5e2195;
    }
}
